{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "color-hex-case": null,
    "color-hex-length": null,
    "no-descending-specificity": null
  }
}
