/**
 * Code styles
 */

code {
  @include context-property-set('default', 'mono');
  font-size: $font-size-small-adjust;
  padding: 0.15em 0.4em;
  background-color: map-get($grays, lighter);
  color: map-get($theme, orange);
}

pre {
  margin: 0 0 $spacer;

  & code {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }
}

kbd {
  font-size: $font-size-small-adjust;
  padding: 0.15em 0.4em;
  color: $color-white;
  background-color: map-get($grays, darker);
  font-weight: bold;

  & kbd {
    padding: 0;
  }
}
