/**
 * Credits and bylines
 */

.byline {
  @include all-contexts('default');
  margin: 0 0 $spacer-component;
  font-size: $font-size-small;

  address {
    font-weight: bold;
    font-style: normal;
    display: inline;
  }

  a {
    color: $color-text;
    text-decoration: none;

    &:hover {
      color: map-get($grays, medium);
    }
  }

  .spacer {
    &::before {
      font-weight: bold;
      content: '•';
    }
  }

  .spacer-alt {
    &::before {
      display: inline-block;
      padding: 0 ($spacer / 2);
      content: '|';
      color: map-get($grays, medium-light);
    }
  }

  time {
    display: inline-block;
    text-transform: uppercase;
    color: map-get($grays, medium-light);
    font-size: $font-size-small;
    font-weight: bold;
  }

  // Spreach across to line
  &.byline-spread time {
    float: right;
  }

  // Spreach across to line
  &.byline-space .spacer::before {
    display: inline-block;
    padding: 0 $spacer;
  }
}

// Credits at bottom of article
footer .byline {
  font-size: $font-size-small;
  color: map-get($grays, medium-light);
  border-top: 1px solid map-get($grays, medium-light);
  padding-top: $spacer-component;
  line-height: $font-size-unit * 1.5;

  address {
    font-style: normal;
    display: inline;
  }

  a {
    color: map-get($grays, medium-light);
    text-decoration: none;
    margin-right: $spacer;

    &:hover {
      color: map-get($grays, darker);
    }
  }

  a[href^='tel:']:before {
    content: '\260e';
    margin-right: 0.4em;
  }

  a[href^='mailto:']:before {
    content: '\2709';
    margin-right: 0.4em;
  }
}

.copyright {
  font-size: $font-size-small;
  padding-top: $spacer-component;
  padding-bottom: $spacer-component;
  background-color: map-get($grays, lighter);
  color: map-get($grays, medium-dark);
}

footer .copyright {
  font-size: 1em / $font-size-small;
  margin-top: $spacer-component * 2;
  margin-bottom: $spacer-component * -2;
}
