/**
 * Layout and containers
 */

// Just a regular container
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer-component;
  padding-left: $spacer-component;
}

// Containers that will only be a max width
@each $breakpoint, $value in $breakpoints {
  $infix: breakpoint-infix($breakpoint);

  .container#{$infix} {
    @extend .container;

    @if $value != 0 {
      @include media-breakpoint-up($breakpoint) {
        max-width: $value;
      }
    }
  }
}

// Explicitly fluid
.container-fluid {
  @extend .container;

  width: 100%;
}

// Push container left
.container-left {
  margin-left: 0;
}

// Push container left
.container-right {
  margin-right: 0;
}

// Header
header {
  padding-top: $spacer-component / 2;
  padding-bottom: $spacer-component;
}

// Footer
footer {
  text-align: center;
  font-size: $font-size-small;
  padding-top: $spacer-component * 2;
  padding-bottom: $spacer-component * 2;
}

article footer {
  text-align: left;
  padding-top: $spacer-component;
  padding-bottom: $spacer-component;
}
