/**
 * Navigation styling
 */

// Default nav anywhere
nav {
  ul,
  ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  ul {
    vertical-align: text-bottom;
  }

  ul li {
    margin-right: $spacer;
  }

  a {
    text-decoration: none;
    color: map-get($grays, darker);
    transition: none;
  }
}

// Nav at top fo page
nav.nav-top,
header[role='banner'] nav {
  padding-top: $spacer-component * 0.75;
  padding-bottom: $spacer-component * 0.75;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-top: $spacer-component * -0.5;

  .logo {
    background-image: image('startribune-logo.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  a.logo {
    display: inline-block;
    min-width: 10em;
    min-height: 1.5em;
    line-height: 1em;
    transition: opacity 150ms;

    &:hover {
      opacity: 0.8;
    }
  }

  h1 {
    @include font-styles('benton-sans');
    font-size: 1em;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: text-bottom;
    margin-right: $spacer;
  }

  ul li {
    font-size: $font-size-small;
  }
}

// Site reproduction nav
nav.nav-strib-site {
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  //box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;

  [class^='container-'] {
    position: relative;
  }

  a {
    display: inline-block;
  }

  ul {
    padding: 7px 0 5px;
    margin: 0;
  }

  ul.section-start {
    float: left;
    text-align: left;
  }

  ul.section-center {
    text-align: center;
    width: 100%;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    left: 0;
    z-index: -999;
  }

  ul.section-end {
    float: right;
    text-align: right;
  }

  ul li {
    font-size: 11px;
    line-height: 1em;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 1px 12px;
    margin: 0 auto;

    &.spacer-right {
      border-right: 1px solid #666666;
    }
  }

  .icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    //text-indent: 10000px;
    color: transparent;
    vertical-align: text-top;
  }

  .icon-logo {
    height: 25px;
    width: 160px;
    margin-top: -2px;
    background-image: image('startribune-logo.png');
    background-image: image('startribune-logo.svg');
  }

  .icon-home {
    background-image: image('icon-home.png');
    background-image: image('icon-home.svg');
  }

  .icon-search {
    background-image: image('icon-search.png');
    background-image: image('icon-search.svg');
  }

  .icon-person {
    background-image: image('icon-person.png');
    background-image: image('icon-person.svg');
  }

  .weekly-ads {
    a {
      display: block;
    }

    img {
      display: block;
      height: 24px;
    }
  }

  // Sorry, this is desktop-first
  @include media-breakpoint-down('md') {
    box-shadow: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 0;

    ul.section-center {
      text-align: center;
      width: auto;
      position: relative;
      display: block;
      right: auto;
      top: auto;
      left: auto;
    }

    .section-start {
      display: none;
    }

    .section-end {
      display: none;
    }
  }
}

nav.subnav-strib-site {
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  //box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  text-align: center;

  ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  ul li a {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 8px 10px;
    transition: background-color 0.15s ease;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
      color: rgb(34, 34, 34);
      background-color: #f5f5f5;
    }
  }

  // Sorry, this is desktop-first.
  //
  // On the site, this is not displayed on "mobile"
  @include media-breakpoint-down('md') {
    display: none;
  }
}
