/**
 * Styling for video strib-tags.
 */

// Default to "responsive"
img {
  max-width: 100%;
  height: auto;
}

.image-bg-fill {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
