/**
 * Tables styling
 */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  background-color: transparent;
  text-align: left;

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid map-get($grays, light);
    padding: 0.5em 0.75em;
  }

  tbody {
    font-family: $font-text-alt;
  }

  tbody th,
  td {
    border-top: 1px solid map-get($grays, light);
    padding: 0.5em 0.75em;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: map-get($grays, lighter);
    }
  }

  // Responsive container
  &.table-responsive {
    @each $breakpoint in map-keys($breakpoints) {
      $next: breakpoint-next($breakpoint, $breakpoints);
      $infix: breakpoint-infix($next, $breakpoints);

      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          display: block;
          width: 100%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
        }
      }
    }
  }
}
