/**
 * tease elements
 */

// Though one should not use a class for this, allow for someone to
// just in case
.article.tease,
article.tease {
  @include all-contexts('default');
  font-size: $font-size-component-unit;
  margin-bottom: $spacer-component * 2;
  margin-top: $spacer-component * 2;

  .text,
  .copy,
  p {
    @include all-contexts('default');
  } // Update headings
  h1,
  h2,
  h3,
  h4 {
    @extend .label;

    &+p {
      margin-top: 0;
    }
  }
  header {
    @include font-styles('benton-sans');
    font-size: $font-size-micro;
    font-weight: bold;
    letter-spacing: .5px;
    color: map-get($grays, medium);
    text-transform: uppercase;
    margin: $spacer-component/4 0 $spacer-component/2 0;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  h3 {
    a {
      @include font-styles('whitman-display-condensed-bold');
      color: map-get($grays, darker);
      display: block;
      margin-bottom: 7px;
      font-size: 1.76923em;
      font-weight: bold;
      -o-transition: color .1s linear;
      -webkit-transition: color .1s linear;
      transition: color .1s linear;
      text-decoration: none;
    }
  }
  figure.tease-photo {
    width: 145px;
    float: right;
    margin-left: $spacer-component * .75;
  }
  .tease-timestamp {
    @include font-styles('benton-sans');
    color: #61bf1a;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: $font-size-micro;
    letter-spacing: .5px;
  }
  .tease-summary {
    @include font-styles('poynter-serif');
    color: map-get($grays, dark);
    margin-bottom: 7px;
    letter-spacing: -.2px;
  }

  ul {
    list-style: none;
    margin:0;
    li {
      @include font-styles('benton-sans-condensed');
      font-size: $font-size-small;
      color: map-get($grays, darker);
      display: block;
      margin-bottom: 5px;
      margin-left: 12px;
      text-indent: -12px;
      a {
        text-decoration: none;
        color:inherit;
      }
      &:before {
        color: #61bf1a;
        content: "\2022";
        font-size: 1.2em;
        padding-right: 0.23em;
        position: relative;
        top: .1em;
      }
      &.related-icn-photo,
      &.related-icn-document,
      &.related-icn-video,
      &.related-icn-gallery,
      &.related-icn-graphic,
      &.related-icn-podcast,
      &.related-icn-poll,
      &.related-icn-comments {
        content: "";
        margin-left: -5px;
        text-indent: 0;
      }
      &.related-icn-photo:before,
      &.related-icn-document:before,
      &.related-icn-video:before,
      &.related-icn-gallery:before,
      &.related-icn-graphic:before,
      &.related-icn-podcast:before,
      &.related-icn-poll:before,
      &.related-icn-comments:before {
        display: block;
        float: left;
        height: 19px;
        width: 16px;
        padding-right: 1px;
        margin-top: -2px;
      }
      &.related-icn-photo:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-photo-30-30.svg);
      }
      &.related-icn-document:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-document-30-30.svg);
      }
      &.related-icn-video:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-video-30-30.svg);
      }
      &.related-icn-gallery:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-gallery-30-30.svg);
      }
      &.related-icn-graphic:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-graphic-30-30.svg);
      }
      &.related-icn-podcast:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-podcast-30-30.svg);
      }
      &.related-icn-poll:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-poll-30-30.svg);
      }
      &.related-icn-comments:before {
        content: url(http://assets.startribune.com/static/img/icons/icn-relatedcontent-comments-30-30.svg);
      }
    }
  }
}

.article.tease,
article.tease {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:before {
    height: 1px;
    width: 100%;
    border-bottom: solid 1px #ccc;
    margin: 0px 0 20px 0;
    content: " ";
    display: block;
  }
}
