/**
 * Typogrphy styling
 */

// Font base sizes
& {
  font-size: 15px;

  @media (min-width: 400px) {
    font-size: 15px;
  }

  @media (min-width: 800px) {
    font-size: 16px;
  }
}

// Default
& {
  font-family: $font-text;
  background-color: $color-text-bg;
  color: $color-text;
  line-height: $font-line-height;
  -webkit-font-smoothing: antialiased;
}

* {
  line-height: $font-line-height;
}

// Text/copy
p,
.text {
  letter-spacing: $font-text-letter-spacing;
}

// Alternate
.text-alternate {
  font-family: $font-text-alt;
  letter-spacing: normal;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $font-heading;
  line-height: 1.25em;
  padding: 0.5em 0 0;
  margin: 0 0 0.5em;
  letter-spacing: normal;

  // A bit of a helper
  &.heading-alternate {
    font-family: $font-heading-alt;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-family: $font-heading-alt;
  font-size: 1.5;
  font-weight: bold;
}

h5 {
  font-family: $font-heading-alt;
  font-size: 1.25;
  font-weight: bold;
}

h6 {
  font-family: $font-heading-alt;
  font-size: 1;
  font-weight: bold;
}

// Sans text (for labels)
.heading-alternate {
  font-family: $font-text-alt;
}

// Links
a {
  &,
  &:visited {
    color: $color-strib-blue;
    transition: color 500ms;
    text-decoration: underline;
  }

  &:hover {
    color: $color-strib-green-dark;
    text-decoration: none;
  }
}

.link-alternate {
  &,
  &:visited {
    color: $color-strib-green-dark;
    transition: color 500ms;
    text-decoration: none;
  }

  &:hover {
    color: darken($color-strib-green-dark, 15);
    text-decoration: none;
  }
}

// Lists
ul,
ol {
  margin: 0 1em 1em;
  padding: 0;

  & ul,
  & ol {
    margin: 0 1em 0.25em;
    padding-top: 0.25em;
  }
}

ol li ol li {
  list-style-type: upper-roman;

  & ol li {
    list-style-type: lower-alpha;
  }
}

dl {
  margin: 0 0 1em;
  padding: 0;

  dt {
    margin: 0;
    font-weight: bold;
  }

  dd {
    margin: 0 0 0.5em;
  }
}

// Lead paragraph
.lead {
  font-family: $font-text;
  font-size: $font-size-large;
  letter-spacing: normal;
  margin-bottom: 1em;
}

// Inline elements
mark,
.highlight {
  padding: 0.2em 0.5em;
  background-color: $color-strib-highlight;
}

small,
.small {
  font-size: $font-size-small;
  letter-spacing: normal;
}
