/**
 * Variables used in styles.  These should
 * all have the `!default` suffix so that
 * they can be overriden if needed
 */

// Selector wrapper, make more specific if needed
$selector-wrapper: '.strib' !default;

// Whether this is going to be used for the whole page, i.e. applied to body.
// If this is a whole page, then we can confidently use rem's instead of em's
$root: false !default;

// Include debug
$debug: false !default;

// Spacing
$spacer: 1em;
$spacer-component-magnitude: 1 !default;
$spacer-component: $spacer-component-magnitude * 1em;
@if $root {
  $spacer-component: $spacer-component-magnitude * 1rem;
}

// Set of fonts to reference
$font-sets: (
  benton-sans: #{'Benton Sans', Helvetica, Arial, sans-serif},
  benton-sans-condensed: #{'Benton Sans Condensed Medium', Helvetica, Arial, sans-serif},
  popular: #{'Popular', Helvetica, Arial, sans-serif},
  popular-light: #{'Popular Light', Helvetica, Arial, sans-serif},
  popular-medium: #{'Popular Medium', Helvetica, Arial, sans-serif},
  poynter-serif: #{'Poynter Serif RE', Georgia, Times, serif},
  whitman-display-compressed-bold: #{'Whitman Display Compressed Bold', Georgia, Times, serif},
  whitman-display: #{'Whitman Display', Georgia, Times, serif},
  whitman-osf: #{'Whitman OSF', Georgia, Times, serif},
  mono: #{Menlo, Monaco,Consolas, "Liberation Mono", "Courier New", monospace}
) !default;

// Fonts used and font-related variables
$font-default: map-get($font-sets, benton-sans-condensed) !default;
$font-default-line-height: 1.4em !default;

$font-text: map-get($font-sets, poynter-serif) !default;
$font-text-weight: normal !default;
$font-text-letter-spacing: -0.3px !default;
$font-text-line-height: 1.4em !default;

$font-text-alt: map-get($font-sets, benton-sans) !default;
$font-text-alt-letter-spacing: normal !default;

$font-heading: map-get($font-sets, whitman-display) !default;
$font-heading-weight: 400 !default;
$font-heading-line-height: 1.25em !default;
$font-heading-letter-spacing: normal !default;

$font-heading-alt: map-get($font-sets, benton-sans) !default;
$font-heading-alt-weight: normal !default;

$font-mono: map-get($font-sets, mono) !default;

// Font sizes
$font-size-small: 0.85em !default;
$font-size-small-adjust: 0.9em !default;
$font-size-large: 1.25em !default;
$font-size-xlarge: 2.35em !default;

// Colors
$color-black: #000000 !default;
$color-white: #FFFFFF !default;

// Grays
$grays: (
  darker: #222222,
  dark: #444444,
  medium: #676767,
  medium-light: #959595,
  light: #BDBDBD,
  lighter: #E8E8E8,
  lightest: #F5F5F5
) !default;

// Theme colors
$theme: (
  green-dark: #005825,
  green-dark-alt: #00824A,
  green-light: #8DC63F,
  blue-dark: #003366,
  yellow-light: #FFFC19,
  orange-dark: #9D5D00,
  red-dark: #9E003F
) !default;

// Common color use for text
$color-text: map-get($grays, darker) !default;
$color-text-sub: map-get($grays, medium) !default;
$color-text-bg: $color-white !default;
$color-link: map-get($theme, green-dark) !default;

// Breakpoints
$breakpoints: (
  default: 0,
  xs: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// When using for the whole page, i.e. body class, then font-size
// can change with the device width
$breakpoints-font-size: (
  default: 14px,
  xs: 14px,
  sm: 15px,
  md: 15px,
  lg: 16px,
  xl: 16px
) !default;
