/**
 * Variables used in styles.  These should
 * all have the `!default` suffix so that
 * they can be overriden if needed
 */

// Selector wrapper, make more specific if needed
$selector-wrapper: '.strib' !default;

// Font families
$font-benton-sans: 'Benton Sans', Helvetica, Arial, sans-serif !default;
$font-benton-sans-condensed: 'Benton Sans Condensed Medium', Helvetica, Arial,
  sans-serif !default;

$font-popular: 'Popular', Helvetica, Arial, sans-serif !default;
$font-popular-light: 'Popular Light', Helvetica, Arial, sans-serif !default;
$font-popular-medium: 'Popular Medium', Helvetica, Arial, sans-serif !default;

$font-poynter-serif: 'Poynter Serif RE', Georgia, Times, serif !default;

$font-whitman-display-compressed-bold: 'Whitman Display Compressed Bold',
  Georgia, Times, serif !default;
$font-whitman-display: 'Whitman Display', Georgia, Times, serif !default;
$font-whitman-osf: 'Whitman OSF', Georgia, Times, serif !default;

// Font and typography
$font-text: $font-poynter-serif !default;
$font-text-letter-spacing: -0.3px !default;
$font-text-alt: $font-benton-sans !default;
$font-heading: $font-whitman-display-compressed-bold !default;
$font-heading-alt: $font-benton-sans !default;
$font-line-height: 1.4em !default;

$font-size-small: 0.85em !default;
$font-size-large: 1.25em !default;

// Colors
$color-black: #000000 !default;
$color-white: #FFFFFF !default;

$color-gray-darker: #222222 !default;
$color-gray-dark: #444444 !default;
$color-gray-medium: #676767 !default;
$color-gray-light: #BDBDBD !default;
$color-gray-lighter: #F1F1F1 !default;

$color-strib-green-dark: #005825 !default;
$color-strib-green-light: #8dc63f !default;
$color-strib-green-bg: #00824a !default;
$color-strib-blue: #003366 !default;
$color-strib-highlight: #FFFC19 !default;

$color-beige: #e4c691 !default;
$color-dark-green-gold: #8d8862 !default;
$color-light-green: #c0dc99 !default;
$color-green: #507356 !default;
$color-light-blue: #97d5d9 !default;
$color-desat-blue: #464b65 !default;
$color-purple: #3e2b3d !default;
$color-dark-purple: #3a3248 !default;
$color-pink: #cc8e94 !default;
$color-skin: #b08b7b !default;

// Common color use
$color-text: $color-gray-darker !default;
$color-text-sub: $color-gray-medium !default;
$color-text-bg: $color-white !default;
$color-link: $color-strib-green-dark !default;
