/**
 * General mixings not ties to specifics
 */

// Map deep get
// https://css-tricks.com/snippets/sass/deep-getset-maps/
// @param {Map} $map - Map
// @param {Arglist} $keys - Key chain
// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Set foreground color based on another color
@function foreground-color($color) {
  @if (lightness($color) > 50) {
    @return $color-text;
  } @else {
    @return $color-white;
  }
}

// Aspect ratio container
// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width: 16, $height: 9) {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Create path to an image
//
// @param {String} $image - Image name and extension (and possible sub path)
// @param {String} $path - Path to image folder
// @return {String} - Full path to asset
@function image($image, $path: $image-path) {
  @return url($path + '/' + $image);
}
