/**
 * typegraphy utilities
 */

// Font profiles
@each $name, $properties in $font-sets {
  .font-#{$name} {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }
}

// Context utilities.  Use the default context to define
// the different classes
@each $property-set-name, $property-set in map-get($contexts, 'default') {
  .context-set-#{$property-set-name} {
    @include all-contexts($property-set-name);
  }
}

// Text sizes
.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: $font-size-large;
}

.text-xlarge {
  font-size: $font-size-xlarge;
}

// Case
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

// Align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
