/**
 * typegraphy utilities
 */

// Font profiles
@each $name, $properties in $font-sets {
  .font-#{$name} {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }
}

// Text sizes
.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: $font-size-large;
}

.text-xlarge {
  font-size: $font-size-xlarge;
}

// Case
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}
