body {
  /**
   * Syntax highlighting styles
   */
  /**
   * Styles for examples.
   * See _plugin/examples.rb
   */ }
  body .hll {
    background-color: #ffc; }
  body .c {
    color: #999; }
  body .k {
    color: #069; }
  body .o {
    color: #555; }
  body .cm {
    color: #999; }
  body .cp {
    color: #099; }
  body .c1 {
    color: #999; }
  body .cs {
    color: #999; }
  body .gd {
    background-color: #fcc;
    border: 1px solid #c00; }
  body .ge {
    font-style: italic; }
  body .gr {
    color: #f00; }
  body .gh {
    color: #030; }
  body .gi {
    background-color: #cfc;
    border: 1px solid #0c0; }
  body .go {
    color: #aaa; }
  body .gp {
    color: #009; }
  body .gu {
    color: #030; }
  body .gt {
    color: #9c6; }
  body .kc {
    color: #069; }
  body .kd {
    color: #069; }
  body .kn {
    color: #069; }
  body .kp {
    color: #069; }
  body .kr {
    color: #069; }
  body .kt {
    color: #078; }
  body .m {
    color: #f60; }
  body .s {
    color: #d44950; }
  body .na {
    color: #4f9fcf; }
  body .nb {
    color: #366; }
  body .nc {
    color: #0a8; }
  body .no {
    color: #360; }
  body .nd {
    color: #99f; }
  body .ni {
    color: #999; }
  body .ne {
    color: #c00; }
  body .nf {
    color: #c0f; }
  body .nl {
    color: #99f; }
  body .nn {
    color: #0cf; }
  body .nt {
    color: #2f6f9f; }
  body .nv {
    color: #033; }
  body .ow {
    color: #000; }
  body .w {
    color: #bbb; }
  body .mf {
    color: #f60; }
  body .mh {
    color: #f60; }
  body .mi {
    color: #f60; }
  body .mo {
    color: #f60; }
  body .sb {
    color: #c30; }
  body .sc {
    color: #c30; }
  body .sd {
    font-style: italic;
    color: #c30; }
  body .s2 {
    color: #c30; }
  body .se {
    color: #c30; }
  body .sh {
    color: #c30; }
  body .si {
    color: #a00; }
  body .sx {
    color: #c30; }
  body .sr {
    color: #3aa; }
  body .s1 {
    color: #c30; }
  body .ss {
    color: #fc3; }
  body .bp {
    color: #366; }
  body .vc {
    color: #033; }
  body .vg {
    color: #033; }
  body .vi {
    color: #033; }
  body .il {
    color: #f60; }
  body .css .o,
  body .css .o + .nt,
  body .css .nt + .nt {
    color: #999; }
  body .language-bash::before {
    color: #009;
    content: "$ ";
    user-select: none; }
  body .language-powershell::before {
    color: #009;
    content: "PM> ";
    user-select: none; }
  body .strib-guide-example {
    border: 1px solid #212121;
    padding: 1.25em; }
  body figure.highlight {
    margin: 0 0 1em; }
  body figure.highlight,
  body .strib-guide-highlight {
    background-color: #F1F1F1;
    padding: 1.5em 1.25em 0.5em;
    overflow-x: auto; }
  body .strib-guide-highlight {
    border: 1px solid #212121; }
  body .strib-guide-example + .strib-guide-highlight {
    border-top: none; }
  body .example-container, body .example-container-small, body .example-container-large {
    width: 100%;
    height: 10em;
    background-color: #BDBDBD;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
    margin-bottom: 1em; }
  body .example-container-small {
    height: 5em; }
  body .example-container-large {
    height: 15em; }
  body .example-color-swatch {
    width: 25%;
    float: left;
    margin: 0.5em;
    padding: 1em;
    min-height: 5em; }
