body.strib {
  /**
   * Syntax highlighting styles
   */
  /**
   * Styles for examples.
   * See _plugin/examples.rb
   */ }
  body.strib .hll {
    background-color: #ffc; }
  body.strib .c {
    color: #999; }
  body.strib .k {
    color: #069; }
  body.strib .o {
    color: #555; }
  body.strib .cm {
    color: #999; }
  body.strib .cp {
    color: #099; }
  body.strib .c1 {
    color: #999; }
  body.strib .cs {
    color: #999; }
  body.strib .gd {
    background-color: #fcc;
    border: 1px solid #c00; }
  body.strib .ge {
    font-style: italic; }
  body.strib .gr {
    color: #f00; }
  body.strib .gh {
    color: #030; }
  body.strib .gi {
    background-color: #cfc;
    border: 1px solid #0c0; }
  body.strib .go {
    color: #aaa; }
  body.strib .gp {
    color: #009; }
  body.strib .gu {
    color: #030; }
  body.strib .gt {
    color: #9c6; }
  body.strib .kc {
    color: #069; }
  body.strib .kd {
    color: #069; }
  body.strib .kn {
    color: #069; }
  body.strib .kp {
    color: #069; }
  body.strib .kr {
    color: #069; }
  body.strib .kt {
    color: #078; }
  body.strib .m {
    color: #f60; }
  body.strib .s {
    color: #d44950; }
  body.strib .na {
    color: #4f9fcf; }
  body.strib .nb {
    color: #366; }
  body.strib .nc {
    color: #0a8; }
  body.strib .no {
    color: #360; }
  body.strib .nd {
    color: #99f; }
  body.strib .ni {
    color: #999; }
  body.strib .ne {
    color: #c00; }
  body.strib .nf {
    color: #c0f; }
  body.strib .nl {
    color: #99f; }
  body.strib .nn {
    color: #0cf; }
  body.strib .nt {
    color: #2f6f9f; }
  body.strib .nv {
    color: #033; }
  body.strib .ow {
    color: #000; }
  body.strib .w {
    color: #bbb; }
  body.strib .mf {
    color: #f60; }
  body.strib .mh {
    color: #f60; }
  body.strib .mi {
    color: #f60; }
  body.strib .mo {
    color: #f60; }
  body.strib .sb {
    color: #c30; }
  body.strib .sc {
    color: #c30; }
  body.strib .sd {
    font-style: italic;
    color: #c30; }
  body.strib .s2 {
    color: #c30; }
  body.strib .se {
    color: #c30; }
  body.strib .sh {
    color: #c30; }
  body.strib .si {
    color: #a00; }
  body.strib .sx {
    color: #c30; }
  body.strib .sr {
    color: #3aa; }
  body.strib .s1 {
    color: #c30; }
  body.strib .ss {
    color: #fc3; }
  body.strib .bp {
    color: #366; }
  body.strib .vc {
    color: #033; }
  body.strib .vg {
    color: #033; }
  body.strib .vi {
    color: #033; }
  body.strib .il {
    color: #f60; }
  body.strib .css .o,
  body.strib .css .o + .nt,
  body.strib .css .nt + .nt {
    color: #999; }
  body.strib .language-bash::before {
    color: #009;
    content: "$ ";
    user-select: none; }
  body.strib .language-powershell::before {
    color: #009;
    content: "PM> ";
    user-select: none; }
  body.strib .strib-guide-example {
    border: 1px solid #212121;
    padding: 0.75em 1.25em; }
  body.strib figure.highlight {
    margin: 0 0 1em; }
  body.strib figure.highlight,
  body.strib .strib-guide-highlight {
    font-family: monospace;
    background-color: #F1F1F1;
    padding: 0.75em 1.25em;
    overflow-x: auto; }
  body.strib .strib-guide-highlight {
    border: 1px solid #212121; }
    .strib-guide-example + body.strib .strib-guide-highlight {
      border-top: none; }
