/**
 * Figures and figure like things
 */

.figure,
figure {
  display: block;
  margin: 0 0 $spacer;
  padding: 0;

  & > cite {
    font-size: $font-size-micro;
    color: map-get($grays, light);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-style: normal;
  }
}

.figcaption,
figcaption {
  font-size: $font-size-small-adjust;
  color: $color-text-sub;
  letter-spacing: normal;
  span.readin {font-weight:bold;}
}
