/**
 * Tables styling
 */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  background-color: transparent;
  text-align: left;

  thead th {
    font-size: $font-size-micro;
    text-transform: uppercase;
    vertical-align: bottom;
    font-weight: normal;
    border-bottom: 3px solid map-get($grays, "lighter");
    padding: 0.5em #{(0.75em / $font-size-micro)}em;
  }

  tr.active-row {
    background-color: map-get($grays, "lightest");
  }

  tbody th,
  td {
    border-bottom: 1px solid map-get($grays, "lighter");
    padding: 0.5em 0.75em;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: map-get($grays, "lightest");
    }
  }

  // Responsive container
  &.table-responsive {
    @each $breakpoint in map-keys($breakpoints) {
      $next: breakpoint-next($breakpoint, $breakpoints);
      $infix: breakpoint-infix($next, $breakpoints);

      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          display: block;
          width: 100%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
        }
      }
    }
  }
}
