/**
 * typography styling
 */

// Font base sizes base on breakpoints
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $font-size: map-get($breakpoints-font-size, $breakpoint);

    @if ($selector-wrapper == false) {
      body {
        font-size: $font-size;
      }
    } @else {
      & {
        font-size: $font-size;
      }
    }
  }
}

// Default
@if ($selector-wrapper == false) {
  body {
    @include all-contexts('default', true);
    background-color: $color-text-bg;
    color: $color-text;
    -webkit-font-smoothing: subpixel-antialiased;

    ::-moz-selection {
      background-color: map-get($theme, 'blue-light');
    }
    ::selection {
      background-color: map-get($theme, 'blue-light');
    }
  }

  * {
    line-height: $font-default-line-height;
  }
} @else {
  & {
    @include all-contexts('default', true);
    background-color: $color-text-bg;
    color: $color-text;
    -webkit-font-smoothing: subpixel-antialiased;

    ::-moz-selection {
      background-color: map-get($theme, 'blue-light');
    }
    ::selection {
      background-color: map-get($theme, 'blue-light');
    }
  }

  & * {
    line-height: $font-default-line-height;
  }
}

// Text/copy
p,
.text,
.copy {
  @include all-contexts('text');
  margin-top: 0;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @include all-contexts('heading');

  padding: ($spacer / 2) 0 0;
  margin: 0 0 ($spacer / 2);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  @include all-contexts('heading-depth');
  font-size: 1.5;
  font-weight: bold;
}

h5 {
  @include all-contexts('heading-depth');
  font-size: 1.25;
  font-weight: bold;
}

h6 {
  @include all-contexts('heading-depth');
  font-size: 1;
  font-weight: bold;
}

// Section title
.title {
  @include all-contexts('title');
  font-size: 5em;
  padding: ($spacer / 3) 0 0;
  margin: 0 0 ($spacer / 3);
}

// Label
.label {
  @include all-contexts('label');
  font-size: $font-size-unit;
  padding: 0;
  margin: 0;
}

// Links
a {
  &,
  &:visited {
    color: map-get($theme, blue-dark);
    transition: color 500ms;
    text-decoration: underline;
  }

  &:hover {
    color: map-get($theme, green-dark);
    text-decoration: none;
  }
}

.link-alternate {
  &,
  &:visited {
    color: map-get($theme, green-dark);
    transition: color 500ms;
    text-decoration: none;
  }

  &:hover {
    color: darken(map-get($theme, green-dark), 15);
    text-decoration: none;
  }
}

// Lists
ul,
ol {
  margin: 0 $spacer $spacer;
  padding: 0;

  & ul,
  & ol {
    margin: 0 $spacer ($spacer / 4);
    padding-top: ($spacer / 4);
  }
}

ol li ol li {
  list-style-type: upper-roman;

  & ol li {
    list-style-type: lower-alpha;
  }
}

dl {
  margin: 0 0 $spacer;
  padding: 0;

  dt {
    margin: 0;
    font-weight: bold;
  }

  dd {
    margin: 0 0 ($spacer / 2);
  }
}

// Lead paragraph
.lead {
  @include all-contexts('lead');
  font-size: $font-size-xlarge;
  margin-bottom: $spacer;
}

// Drop caps (big first letter)
.drop-caps::first-letter {
  font-size: $font-size-unit * 6;
  float: left;
  margin: $font-size-unit / 4 $font-size-unit / 6 $font-size-unit / 4 0;
}

.drop-caps-image {
  display: block;
  float: left;
  width: $font-size-unit * 6;
  height: $font-size-unit * 6;
  margin: $font-size-unit / 2 $font-size-unit / 3 $font-size-unit / 3 0;
  text-indent: -9000px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// Inline elements
mark,
.highlight {
  padding: 0.15em 0.4em;
  background-color: map-get($theme, yellow-light);
}

small,
.small {
  font-size: $font-size-small;
  letter-spacing: normal;
}

abbr {
  cursor: help;
}

// Blockquote
blockquote {
  @include all-contexts('text');
  font-size: $font-size-large;
  letter-spacing: normal;
  margin: 0 0 #{1em / $font-size-large}em;

  & > p {
    margin-bottom: 0;
  }

  & > footer {
    @include all-contexts('default');
    color: map-get($grays, medium);
    font-size: $font-size-small;
    padding: 0.5em 0 0;
    text-align: left;

    &::before {
      content: '\2014 \00A0';
    }

    & cite {
      font-style: italic;
    }
  }
}
