/**
 * Styles for maps
 */

// Onfortunately, the aspect ratio trick cannot be used given how
// the map containers work.
.figure-map {
  min-height: 30em;
}

// Some overrides for MapboxGL
.mapboxgl-ctrl-group > button {
  border-radius: 0;
}

a.mapboxgl-ctrl-logo:empty {
  outline: 0 !important;
}

// Leaflet overrides for consistency
.leaflet-bar a {
  background-color: #ffffff;
  border-radius: 0;
}
